body {
    background-color: #002856;
    color: #fff;
}

body h1 {
    color: #ecaa00;
}

.heading {
    text-align: center;
    margin-bottom: 15px;
}

.about {
    margin-top: 10px;
    margin-bottom: 20px;
}

.main {
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

.tour {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
}

.card {
    display: flex;
    flex-flow: column;
    text-align: start;
    flex: 25%;
    background-color: #e1d1a7;
    color: #75391c;
    padding: 1pc;
}

.card h1 {
    text-align: center;
    color: #75391c;
}

.card .row {
    display: flex;
    flex-flow: row;
    margin-bottom: 10px;
}

.card img {
    width: 100%;
    height: fill;
}

.row {
    margin: -5px;
}

#title {
    margin-top: 30px;
}

.projects {
    display: inline-block;
    margin-top: 10px;
    align-items: center;
    width: 50%;
}

.project {
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: #e1d1a7;
    color: #75391c;
    padding: 1pc;
}

.project h1 {
    color: #75391c;
}

.project p {
    text-align: start;
    display: inline-block;
}

.project video {
    display: inline-block;
    height: 600px;
    width: 100%;
}